[submodule "zeitkit"]
	path = zeitkit
	url = https://github.com/ZEITIO/zeitkit.git
[submodule "netdata"]
	path = netdata
	url = https://github.com/firehol/netdata.git
[submodule "ServerStatus"]
	path = ServerStatus
	url = https://github.com/Munroenet/ServerStatus.git
[submodule "SET"]
	path = SET
	url = https://github.com/trustedsec/social-engineer-toolkit.git
[submodule "wifijammer"]
	path = wifijammer
	url = https://github.com/DanMcInerney/wifijammer.git
[submodule "yarn"]
	path = yarn
	url = https://github.com/yarnpkg/yarn.git
[submodule "draw.io"]
	path = draw.io
	url = https://github.com/jgraph/draw.io.git
[submodule "redis"]
	path = redis
	url = https://github.com/antirez/redis.git
[submodule "AVL-random-stuff"]
	path = AVL-random-stuff
	url = https://github.com/AlienVault-Labs/AlienVaultLabs.git
[submodule "lxc-repo"]
	path = lxc-repo
	url = https://github.com/lxc/lxc.git
[submodule "coruws-library"]
	path = coruws-library
	url = https://github.com/coruws/lib.git
