[submodule "zeitkit"]
	path = zeitkit
	url = https://github.com/ZEITIO/zeitkit.git
[submodule "netdata"]
	path = netdata
	url = https://github.com/firehol/netdata.git
[submodule "ServerStatus"]
	path = ServerStatus
	url = https://github.com/Munroenet/ServerStatus.git
[submodule "SET"]
	path = SET
	url = https://github.com/trustedsec/social-engineer-toolkit.git
